# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Editor / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project outputs
video.mp3
transcript_raw_ar.txt
transcript_raw_ar_timestamps.txt
transcript_clean_ar.txt
translation_en.txt
translation_en_polished.txt

